<style>
    table, tr, td {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <td>Doctor Details</td>
        <td><a href="/doctors">Doctors</a></td>
    </tr>
    <tr>
    	<td>Clinic Details</td>
    	<td><a href="/clinics">Clinics</a></td>
    </tr>
    <tr>
    	<td>Doctor-Clinic Work Details</td>
    	<td><a href="/worksIn">Works In</a></td>
    </tr>
    <tr>
    	<td>Doctor Education</td>
    	<td><a href="/education">Education</a></td>
    </tr>
    <tr>
    	<td>Speciality Details</td>
    	<td><a href="/speciality">Speciality</a></td>
        
    </tr>
    <tr>
    	<td>Reviews Details</td>
    	<td><a href="/review">Reviews</a></td>
        
    </tr>
    <tr>
    	<td>Doctor-Speciality Details</td>
    	<td><a href="/hasSpeciality">Has Speciality</a></td>
    </tr>
</table>
